@import "../../../../styles/variables.scss";

.mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
}
.header-icon-buttons {
    float: right;
    button {
        margin-left: 15px;
        padding-top: 3px;
        .mat-icon {
            color: $custom-grey;
        }
    }
}
.box-body {
    &::-webkit-scrollbar {
        width: 0px;
    }
    padding: 0px;
    max-height: 800px;
    overflow-y: scroll;
    @media screen and (max-width: 1080px) {
        max-height: 350px;
    }
}
.user-info {
    &:hover {
        cursor: pointer;
    }
    height: 120px;
    display: flex;
    border-bottom: 1px solid $border-light-grey;
    .user-icon {
        width: 40px;
        display: inline-block;
        text-align: center;
        margin: 0px 25px 0px 25px;
        height: 100%;
        line-height: 120px;
    }
    .user-data {
        width: 400px;
        display: inline-block;
        font-size: 19px;
        height: 100%;
        :first-child {
            font-weight: 500;
            margin-top: 22px;
        }
        :not(:first-child) {
            color: $custom-grey;
        }
        :not(:last-child) {
            margin-bottom: 3px;
        }
        @media screen and (max-width: 360px) {
            font-size: 16px;
        }
    }
}
.grey {
    color: $custom-grey;
}
.custom {
    color: $primary-color;
}
.margin-top-3 {
    margin-top: 9px;
}
.custom-panel {
    border-radius: 0px;
    border-bottom: 1px solid $border-light-grey;
    border-top: 1px solid $border-light-grey;
    box-shadow: none;
    .filter-input {
        width: 100%;
        font-size: 18px;
    }
}
