@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.header-checkbox {
    font-size: 20px;
    float: right;
    @include height-line-height(40px);
}
.box-body {
    padding: 2rem;
}
.user-data {
    margin-top: 10px;
    min-height: 300px;
    font-size: 25px;
    .sub-header {
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-light-grey;
        .user-info {
            margin: 2px 14px;
        }
        margin-bottom: 10px;
    }
    overflow: auto;
    .album {
        float: left;
        width: 100%;
        .album-content {
            margin-top: 10px;
            // margin: 10px;
            @media screen and (min-width: 1681px) {
                @include custom-mat-card-grid(4);
            }
            @media screen and (max-width: 1680px) and (min-width: 1481px) {
                @include custom-mat-card-grid(3);
            }
            @media screen and (max-width: 1480px) and (min-width: 1281px) {
                @include custom-mat-card-grid(2);
            }
            @media screen and (max-width: 1280px) {
                @include custom-mat-card-grid(1);
            }
            .mat-card {
                padding: 16px 16px 0px 16px;
                &:hover {
                    cursor: pointer;
                }
                height: 76px;
            }
        }
    }
    .text-middle {
        padding: 120px 0px;
        text-align: center;
    }
}
.custom-button {
    float: right;
    margin: -20px 30px 0px 0px;
    background-color: $primary-color;
}
.selected {
    @include monohighlighting($primary-color);
}
