<div class="box box-default album-custom">
    <div class="box-header">
        Albums
        <div class="header-checkbox">
            <mat-checkbox [(ngModel)]="selectAll">Select all</mat-checkbox>
        </div>
    </div>
    <div class="box-body">
        <div class="user-data">
            <div *ngIf="selectedUser; else selectUserTemp;">
                <div class="sub-header">
                    <div class="user-info">{{selectedUser.name}}</div>
                </div>
                <div *ngIf="isProcessing">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <div class="loading">Loading...</div>
                </div>
                <div class="album"
                     *ngIf="userAlbums.length && !isProcessing; else noData;">
                    <div class="album-content"
                         *ngFor="let ablum of userAlbums">
                        <mat-card (click)="selectedAlbumIds.toggle(ablum.id)"
                                  matRipple
                                  class="custom-card"
                                  [ngClass]="{ 'selected': selectedAlbumIds.isSelected(ablum.id) }">
                            <mat-card-header>
                                <mat-card-title>{{ablum.title}}</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </div>
            </div>
            <ng-template #noData>
                <div *ngIf="!isProcessing"
                     class="text-middle">
                    User has no albums
                </div>
            </ng-template>
            <ng-template #selectUserTemp>
                <div class="text-middle">
                    Select a user first
                </div>
            </ng-template>
        </div>
    </div>
    <button mat-fab
            [disabled]="isProcessing"
            class="custom-button">
        <mat-icon>add</mat-icon>
    </button>
</div>