/* global variables */

// colors

$bg-color: rgb(243, 243, 243);
$primary-color: rgb(49, 170, 222);
$border-light-grey: rgb(224, 224, 224);
$transparent-black: rgba(0, 0, 0, 0.03);
$custom-grey: rgb(117, 117, 117);
